# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [7]:
USE JunkDB_STL_March2022
DROP TABLE jae.planned_makes
CREATE TABLE jae.planned_makes (ID INT,
    Make VARCHAR (50) NOT NULL,
    Food VARCHAR(20) NOT NULL,)

Add three rows to your table that are your planned makes.

In [8]:
insert into jae.planned_makes (ID, food, make)
values (1, 'Other', '09/2/2020'),
(2, 'Potatoes', '7/4/2022')

In [9]:
select *
from jae.planned_makes

ID,Make,Food
1,09/2/2020,Other
2,7/4/2022,Potatoes

## Update a Row

Change different values in one of your three rows.

In [12]:
update jae.planned_makes
set food = 'Fries'
where ID = 1

In [13]:
select *
from jae.planned_makes

ID,Make,Food
1,09/2/2020,Fries
2,7/4/2022,Potatoes

## Delete a Row

Delete one of the rows from your table.

In [14]:
delete from jae.planned_makes
where ID=2

In [15]:
select *
from jae.planned_makes

ID,Make,Food
1,09/2/2020,Fries

## Drop the Table

While this has been fun, it is time to drop the table!

In [16]:
drop table jae.planned_makes